*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: url(./bg01.jpg) no-repeat center center/cover;
}
.container{
    width: 520px;
    height: auto;
    min-height: 100px;
    margin: 120px auto;
    background-color: #002011;
    border-radius: 5px;
    border: 1px solid #02f081;
    box-shadow: inset 0 0 10px #000, 0 0 10px #000;
}
.heading h1{
    color: #02cf6f;
    text-align: center;
    font-weight: normal;
    margin-top: 0px;
}
.input-block{
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}
.tittle{
    font-size: 20px;
    text-align: left;
    color: #02cf6f;
    font-weight: normal;
    line-height: 0,5;
    letter-spacing: 0.5px;
    word-spacing: 2.7px;
}
input[type=text]{
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #333;
    padding: 12px;
    background-color: #050a0c;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}
input[type=button]{
    width: 120px;
    margin-left: 40%;
    margin-top: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #014d29;
    color: #02e77c;
    border: 1px solid #02cf6f;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.5em 0 #014d29, 0 0 0.3em #002011;
}
input[type=button]:hover{
    color: #000;
    background-color: #02cf6f;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    box-shadow: inset 0 0 0.5em 0 #02cf6f, 0 0 0.5em #02cf6f;
}
#age{
    padding: 20px;
    overflow: hidden;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 2.7px;
    color: #fff;
}

